
#p1 {
  position: absolute;
  color:red;
}
#p2 {
  position: absolute;
  color:red;
}
#p3 {
  position: absolute;
  color:red;
}
#p4 {
  position: absolute;
  color:red;
}
#p5 {
  position: absolute;
  color:red;
}
#p6 {
  position: absolute;
  color:red;
}
#p7 {
  position: absolute;
  color:red;
}
#p8 {
  position: absolute;
  color:red;
}
#p9 {
  position: absolute;
  color:red;
}
#p10 {
  position: absolute;
  color:red;
}
#p11 {
  position: absolute;
  color:red;
}
#p12 {
  position: absolute;
  color:red;
}  
#p13 {
  position: absolute;
  color:red;
}


body {
    background-color :dimgray;
}
.oyun-alani{
    margin: 30px auto;
    background-image: url("https://images.pexels.com/photos/164005/pexels-photo-164005.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    width:400px;
    height: 300px;
    border: 3px solid black;
    position: relative;
}

#p1:hover{
    color: green;
}
#p2:hover{
    color: green;
}
#p3:hover{
    color: green;
}
#p4:hover{
    color: green;
}
#p5:hover{
    color: green;
}
#p6:hover{
    color: green;
}
#p7:hover{
    color: green;
}
#p8:hover{
    color: green;
}
#p9:hover{
    color: green;
}
#p10:hover{
    color: green;
}
#p11:hover{
    color: green;
}
#p12:hover{
    color: green;
}
#p13:hover{
    color: green;
}

