
#p1 {
  position: absolute;
  color:red;
  margin-top: 0px;

}
#p2 {
  position: absolute;
  color:red;
  margin-top: 0px;
}
#p3 {
  position: absolute;
  color:red;
  margin-top: 0px;
}
#p4 {
  position: absolute;
  color:red;
  margin-top: 0px;
}
#p5 {
  position: absolute;
  color:red;
  margin-top: 0px;
}
#p6 {
  position: absolute;
  color:red;
  margin-top: 0px;
}
#p7 {
  position: absolute;
  color:red;
  margin-top: 0px;
}
#p8 {
  position: absolute;
  color:red;
  margin-top: 0px;
}
#p9 {
  position: absolute;
  color:red;
  margin-top: 0px;
}
#p10 {
  position: absolute;
  color:red;
  margin-top: 0px;
}
#p11 {
  position: absolute;
  color:red;
  margin-top: 0px;
}
#p12 {
  position: absolute;
  color:red;
  margin-top: 0px;
}  
#p13 {
  position: absolute;
  color:red;
  margin-top: 0px;
}


body {
    background-color :dimgray;
}
#oyun-alani{

    background-image: url("https://images.pexels.com/photos/164005/pexels-photo-164005.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    border: 3px solid black;
    position: relative;
    font-family: sans-serif;
    padding-bottom: 30px;
    padding-right: 10px;
    padding-top: -30px;
    margin: 30px auto;
}

#p1:hover{
    color: green;
}
#p2:hover{
    color: green;
}
#p3:hover{
    color: green;
}
#p4:hover{
    color: green;
}
#p5:hover{
    color: green;
}
#p6:hover{
    color: green;
}
#p7:hover{
    color: green;
}
#p8:hover{
    color: green;
}
#p9:hover{
    color: green;
}
#p10:hover{
    color: green;
}
#p11:hover{
    color: green;
}
#p12:hover{
    color: green;
}
#p13:hover{
    color: green;
}

